@import "./abstract/reset";
@import "./abstract/var";

.header {
    display: flex;
    justify-content: space-between;
    height: 15vh;


    &__title {
        font-size: 55px;
        padding: 20px 20px;

    }
    &__btnctn {
        max-height: 45px;
    }
    &__btn {
        margin: 20px 20px;

    }
}

.main {
    width: 1340px;
    margin: 0 auto;
}

.event {
    display: flex;
    
    &__ctn {
        width: 300px;
        padding-top: 15px;
    }
}